/* Nathanael Jenkins*/
/* 2021 */

/* -------------- DEFAULT STYLES ------------- */

/* All formatting; black background, crosshair cursor */
*{
    background: black;
    cursor: crosshair;
}

/* Selected test shows red */
::selection{
    color: #AA0000;
}

/* Text default */
body, figcaption, h2, h3, p, a, nav, div{
    font: 2.4vh "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Verdana, sans-serif;
    color: #999;
    margin: 0;
    padding: 0;
}

/* Span */
span{
    background: none;
}

/* Hyperlink default (consistent colour) */
a:link, a:visited, a:active{
    text-decoration: none;
}

/* Header 1 default (bold) */
h1{
    font: 120%/1.3 Helvetica Neue Bold, Arial Black, Verdana, sans-serif;
    color: #999;
    padding-top: 2px;
}

/* Header 3 default (medium) */
h3{
    font: 5vh "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Verdana, sans-serif;
    color: #999;
    padding-top: 2px;
}

/* Caption default (small) */
figcaption{
    color: #555;
    font: 1.7vh Helvetica Neue Bold, Arial Black, Verdana, sans-serif;
    text-align: center;
}

/* Header 2 default (italic) */
h2{
    font-style: italic;
    font-size: 100%;
}

/* Paragraph default */
p{
    font-size: 100%;
    text-align: justify;
}

/* Paragraph hyperlink default (bold) */
p a{
    font-weight: bold;
    padding: 0 2px;
}



/* -------------- CUSTOM STYLES ------------- */

/* HEADER */

/* Site header display */
.site-header{
    display: inline;
}

/* Homepage link formatting */
.name{
    font-size: 200%;
    padding: 0%;
}

/* Homepage link (surname) */
.name1{
    font-family: "HelveticaNeue-UltraLight";
    font-size: 100%;
    display: inline;
}

/* menu link defaults */
.menu-links, .menu-links:visited{
    display: inline-block;
    font-size: 120%;
    color: #999;
    margin: 0 1vw;
    padding: 4px 4px;
}

/* Dropdown settings */
.dropdown{
    position: relative;
    display: inline-block;
    margin: 0 -7%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 13%;
    right: 5%;
    bottom: 5%;
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    color: #999;
    background: #333;
    padding: 4px 4px;
    min-width: 170%;
    overflow: auto;
    text-decoration: none;
}

/* Dropdown container positioning */
.menu-right {
    display: inline-block;
    float: right;
    text-align: center;
    padding: 0.5vh 0;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
    background-color: #222;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown-content:hover{
    display: block;
    position: absolute;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .menu-links{
    background-color: #333;
}



/* CONTENT */

/* Text wrapping */
.wrapper{
    max-width: 70%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 10%;
    padding-left: 10%;
}
.box .wrapper{
    width: 90%;
    margin-left: 30%;
}

/* Project images (centered) */
.projectimg{
    position: absolute;
    height: 10vh;
    clip-path: circle();
    margin-top: 2vh;
    margin-left: 17vw;
    margin-right: 1%;
    display: inline;
    float: left;
    transition: 0.1s;
}

/* Project preview boxes */
.box{
    position: absolute;
    width: 60vw;
    margin-left:20vw;
}
.box *{
    background: none;
    transition: 0.1s;
}

/* Error page image (circular crop) */
.cat{
    max-width: 70%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 10%;
    padding-left: 10%;
    clip-path: circle();
    opacity: 0.9;
}

/* Homepage left box */
.introbox{
    width: 50vw;
    text-align: justify;
    margin-right: 25vw;
    margin-left: 25vw;
}

/* PDF embed box */
.iframewindow{
    text-align: center;
}

/* PDF embed box */
.iframepdf{
    height: 100vw;
    width: 70vw;
    overflow: hidden;
}

/* Changes colour of links on hover */
.menu-links:hover, .social-links:hover, .logo:hover, p a:hover, h1 a:hover, span:hover{
    background-color: #333;
    cursor: pointer;
}

.name:hover, .name1:hover, a img:hover, .box *:hover{
    cursor: pointer;
}



/* VIDEOS */

/* Video inline wtih articles (right aligned) */
.sidevid{
    width: 40vw;
    display; inline;
    float: right;
    margin-right: 15vw;
    margin-left: 1vw;
}

/* Full width video (centered) */
.fullvid{
    width: 70vw;
    display; inline;
    margin-left: 15vw;
}

.minivid{
    width: 40vw;
    display; inline;
    margin-left: 30vw;
}



/* FOOTER */

/* Logo sizing */
.logo{
    width: 3vh;
    vertical-align: middle;
    margin-top: -0.4vw;
    background: none;
}

/* Social media links */
.social-links, .social-links:visited{
    display: inline;
    font-size: 120%;
    color: #999;
    line-height: 300%;
    margin: 0 5px;
    padding: 4px 4px;
    vertical-align: middle;
}

/* Footer default */
.footer{
    text-align: center
}



/* -------------- ANIMATIONS ------------- */

/* Horizontal rules (header/ footer) */
.rule{
    width: 100%;
    color: #555;
    z-index: 1;
    animation-name: widen;
    animation-duration: 2s;
}
@keyframes widen{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}

/* Fade in (all) */
*{
    animation-name: header;
    animation-duration: 1s;
}
@keyframes header{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* Project images (zoom on hover) */
.box:hover .projectimg{
    transform: translate(-2vw, -1vw);
    height: 14vh;
    z-index: 2;
    transition: 0.1s;
    transition-delay: 0.1s;
}

.box:hover p, .box:hover a, .box:hover h2{
    transform: translateY(-1vw);
    font-size: 115%;
    z-index: 2;
    transition: 0.1s;
    /*transition-delay: 0.1s;*/
}




/* -------------- MOBILE STYLES ------------- */

/* Small screen optimisation */
@media all and (max-aspect-ratio: 624/768){
    .hline{
        margin-top: 4%;
    }
    .menu-links, .social-links, p a, *, a{
        font-size: 1.4vh;
        margin: 4px, 4px;
    }
    .name, .name1{
        font-size: 2vh;
    }
    .menu-right{
        font-size: 2.5vh;
    }
    .dropdown{
        font-size: 1.5vh;
    }
    .introbox{
        margin-top: 2%;
        max-width: 70%;
        margin-left: 20%;
        margin-right: 10%;
        padding: 0, 0;
    }
    .site-main{
        margin-top: 2%;
        max-width: 75vw;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        padding: 0, 0;
    }
    .wrapper{
        margin-top: 2%;
        font-size: 1.4vh;
        max-width: 90vw;
        margin-right: 5%;
        margin-left: 5%;
        padding: 0, 0;
    }
    .projectimg{
        position: absolute;
        height: 8vh;
        margin-top: 3vh;
        margin-bottom: 2vh;
        margin-left: 5vh;
        padding-left: 0;
    }
    br{
        height: 200%;
    }
}
